<div class="container">
    <footer class="row row-cols-4 p-5 mt-5 border-top">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <div class="logo">QPICK</div>
        </a>
      </div>
  
      <div class="col">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Избранное</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Корзина</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Контакты</a></li>
        </ul>
      </div>
  
      <div class="col">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Условия сервиса</a></li>
          <li class="nav-item mb-2"></li>
          <br>
          <li class="nav-item mb-2 d-flex">
            <img src="assets/icons/web.png" alt="web">
            <a href="#" class="nav-link language mx-2 p-0 text-dark">Каз</a>
            <a href="#" class="nav-link language mx-2 p-0 active" style="color: #FFA542; font-weight: 700;">Рус</a>
            <a href="#" class="nav-link language mx-2 p-0 text-dark">Eng</a>
          </li>
        </ul>
      </div>
  
      <div class="col">
        <div class="nav flex-column">
          <div class="nav-item mb-2 d-flex justify-content-end">
            <a href="#" class="nav-link mx-2 p-0" style="align-self: center;">
              <img src="assets/icons/VK.png" alt="web">
            </a>
            <a href="#" class="nav-link mx-2 p-0">
              <img src="assets/icons/Telegram.png" alt="telegram">
            </a>
            <a href="#" class="nav-link mx-2 p-0">
              <img src="assets/icons/Whatsapp.png" alt="Whatsapp">
            </a>
          </div>
        </div>
      </div>
    </footer>
  </div>
