<ng-container *ngIf="reloadFlag">
    <ng-container *ngIf="cartItems.length === 0">
        <div class="container">
            <h3>Корзина пуста</h3>
        </div>
    </ng-container>
    
    
    <ng-container *ngIf="cartItems.length > 0">
            <div class="container">
                <h3>Корзина</h3>
                <div class="d-flex mt-5">
                    <div class="col-6" *ngFor="let cartItem of cartItems">
                        <app-cart-item [cartItem]="cartItem" (removeCartItemEmitter)="removeCartItem($event)"></app-cart-item>
                    </div>
                </div>
                <div class="card m-3 p-3 pay">
                    <div class="card-body mx-2 p-1">
                      <div class="d-flex total-price mb-3">
                        <div class="card-title fw-bold">Итого</div>
                        <div class="fw-bold">₽ {{totalPrice}}</div>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-pay border-0 shadow-none">Перейти к оформлению</button>
                </div>
                
            </div>
            
    </ng-container>
</ng-container>
